.cart{
    padding: 20px;
    min-height: 500px;
    border: 1px solid #ddd;   
}
.cart_list_table{
	width:100%;
	border-collapse:collapse;
	border-spacing:0px;
	border:1px solid #ddd;
    margin:-1px auto 0;
    font-size: 12px;
}
.cart_list_table tr{
    border-bottom: 1px solid #ddd;
}
.cart_list_table th{
    padding: 10px;
    color: #666; 
    background: #e5e5e5;
}
.cart_list_table td{
    padding: 20px 0;
    text-align:center;
    background: #fcfcfc;
}
.cart_goods{
    display: flex;
}

.cart_goods img{
    width: 80px;
    height: 80px;
}
.cart_info{
    margin-left: 15px;
    color: #333;
    text-align: left;
    width: 100%;
}
.cart_info a{
    display: inline-block;
    width: 60%;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 5px;
}
.cart_info a:hover{
    color:#DDBBAC;
}
.cart_info p{
    color: #999;
}

.col_price{
    font-weight: 700;
    color: #000;
}
.col_total{
    font-weight: 700;
    color: #f40;
}
.cart_del{
    cursor: pointer;
    /* color:#DDBBAC; */
}
/*-----------
    加减条
-------------*/
.num{
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}
.num input{
    width: 38px;
    padding: 4px 5px;
    height: 14px;
    font-size: 14px;
    color: #333;
    border: none;
    outline: none;
    box-sizing: content-box;
    text-align: center;
}
.num a{
    display: inline-block;
    width: 25px;
    height: 100%;
    line-height: 1.7;
    color: #333;

}
.num_minus{
    border-right: 1px solid #ccc;
}
.num_add{
    border-left: 1px solid #ccc;
}

.disable_num{
    color: #ccc;
    background-color: #f3f3f3;
    cursor: default;
}
/* 计算条 */
.total_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 77%;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border: 1px solid #ddd;
    background: #f8f8f8;
    color: #333;
    font-size: 12px;
}
.box_right span{
    margin-right: 10px;
}
.box_right p{
    display: inline-block;
    background: red;
    padding: 0 20px;
    color: #fff;
    cursor: pointer;
}
.box_right b{
    color:#f40;
    font-size: 16px;
}